:root {
  --sand-1: rgb(243, 237, 200);
  --sand-2: rgb(234, 209, 150);
  --red-1: rgb(191, 49, 49);
  --red-2: rgb(125, 10, 10);
}

/* !Common */
body {
  background-color: var(--sand-1);
}
h1 {
  color: var(--red-1);
}
h3,
.-lc-price {
  color: var(--red-2);
}

/* cards */
.card {
  position: relative;
}
.-lc-category {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
